$primary:               rgb(24,26,24);
$secondary:             #486F5A;

$red:                   #e04d3f;
$yellow:                #fe2;
$green:                 #62dd77;
$cyan:                  #5de;

$enable-rounded:        false;